.btn-motion {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.btn-motion1,
.btn-motion1:before {position: absolute;left: 50%;}
.btn-motion1 {width: 40px;height: 70px;margin-left: -20px;top: 50%;margin-top: -35px;box-shadow: inset 0 0 0 1px #000;border-radius: 25px;}
.btn-motion1:before {content: ''; width: 8px; height: 8px; background: #000; margin-left: -4px;top: 8px; border-radius: 4px; animation: btn-motion4 1.5s ease-in-out infinite;}

 @keyframes btn-motion1 {
     0% {
         opacity: 1;
    }
     100% {
         opacity: 0;
         transform: translateY(46px);
    }
}

.btn-motion2 span {position: absolute;top: 0;left: 50%;width: 24px;height: 24px;margin-left: -12px;border-left: 1px solid #000;border-bottom: 1px solid #000; transform: rotate(-45deg); animation: btn-motion6 2s infinite;opacity: 0;box-sizing: border-box;}
.btn-motion2 span:nth-of-type(1) {animation-delay: 0s;}
.btn-motion2 span:nth-of-type(2) {top: 16px;animation-delay: .15s;}
.btn-motion2 span:nth-of-type(3) {top: 32px; animation-delay: .3s;}

@keyframes btn-motion2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
